div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aqua;
    width: 400px;
    height: 300px;
    overflow: auto;
}

img {
    width: 100px;
    height: 80px;
}